<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog Ninja | <%= title %></title>
	</head>
	<body>
		<nav>
			<div class="site-title">
				<a href="/"><h1><%= title %></h1></a>
			</div>
		</nav>

		<div class="not-found content">
			<h2>OOPS, page not found D:</h2>
			<p>Im soweyhhh</p>
		</div>
	</body>
</html>
