<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog Ninja</title>
	</head>
	<body>
		<nav>
			<div class="site-title">
				<a href="/"><h1>Blogs App</h1></a>
				<p>A Simple CRUD Blogs App</p>
			</div>
			<ul>
				<li><a href="/">Blogs</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blogs/create">New Blog</a></li>
			</ul>
		</nav>

		<div class="about content">
			<h2>About Us</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, itaque esse? Incidunt, tempora ipsum ratione assumenda, nostrum culpa vel alias velit eaque saepe aspernatur cumque eos aut eius libero qui!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo, eius error nostrum repellendus eligendi! Iusto, quae enim quo laboriosam ipsa accusantium. Alias a assumenda, error accusamus porro esse temporibus.</p>
		</div>
	</body>
</html>
